
@font-face {
  font-family: 'SlimJoe';
  src: url('SlimJoe.eot?#iefix') format('embedded-opentype'),  url('SlimJoe.otf')  format('opentype'),
	     url('SlimJoe.woff') format('woff'), url('SlimJoe.ttf')  format('truetype'), url('SlimJoe.svg#SlimJoe') format('svg');
  font-weight: normal;
  font-style: normal;
}
