
@font-face {
  font-family: 'BigJohn';
  src: url('BigJohn.eot?#iefix') format('embedded-opentype'),  url('BigJohn.otf')  format('opentype'),
	     url('BigJohn.woff') format('woff'), url('BigJohn.ttf')  format('truetype'), url('BigJohn.svg#BigJohn') format('svg');
  font-weight: normal;
  font-style: normal;
}
